version: "3.7"

services: 
    api:
        build: ./api
        restart: always
        volumes:
            - ./api:/code
        environment: 
            FLASK_DEBUG: 1
            FLASK_ENV: development
        ports:
            - 80:80
        command: flask run --host=0.0.0.0 --port=80